@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = null;
    ViewBag.Title = "SSO登录";
}

<script type="application/json">

</script>

<div class="container" style="width:300px;  margin-top:100px;">
    <div class="row text-conter" >
        <div class="col-sm-4">
          用户名
        </div>
        <div class="col-sm-8">
            <input type="text" placeholder="用户名" value="admin" />
        </div>
    </div>
    <br />
    <div class="row text-conter">
        <div class="col-sm-4">
            密码1
        </div>
        <div class="col-sm-8">
            <input type="password" placeholder="密码" value="123456" />
        </div>
    </div>
    <br />
    <div class="row text-conter">
        <div class="col-sm-5 col-md-offset-2">
           <input type="button" value="登录" />
        </div>
        <div class="col-sm-5">
            <input type="button" value="注册" />
        </div>
    </div>
</div>




